.DS_Store
.wss-loro
.wss-yjs
build
node_modules
package-lock.json
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*-lock.json

node_modules
lib
dist
dist-ssr
*.local

.coverage
.pytest_cache
htmlcov
dist

__pycache__
lexical_loro/__version__.py

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.models

__tests__/*.json
